.signIn-container {
  width: 40%;
  min-width: 250px;
  padding: 2rem;
  margin: 2% auto auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.signIn-header {
  margin: 1rem auto;
}
.signIn-header h3 {
  margin: 10px;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.8);
}
.signIn-header h5 {
  margin: 10px;
}

/*form*/
.form-container {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
}
.form-group input {
  width: 100%;
  margin: auto 1rem;
  padding: 5px 10px;
  border: none;

  border-bottom: 1px solid gray;
}

/*footer*/
.signIn-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
}
.signIn-btn {
  padding: 6px 15px;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  font-weight: bold;
  color: var(--primary);
  cursor: pointer;
}
.create-account {
  font-size: 0.9rem;
  cursor: pointer;
  flex-grow: 1;
}
.create-account:hover,
.signIn-btn:hover {
  color: rgba(0, 0, 0, 0.9);
}
.error-message {
  margin-top: 0.2rem;
  color: darkred;
  font-size: 0.8rem;
  align-self: flex-start;
  padding-left: 8px;
}
