.header-container {
  margin: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.nav-links {
  width: 100%;
  padding: 0;
  display: flex;
}
.nav-item a {
  margin: 1rem;
  color: var(--primary);
  font-size: 1.2rem;
  text-transform: uppercase;
}
.signedIn-container {
  display: flex;
}
.dropdown {
  position: relative;
}
.shopping-icon {
  width: 30px;
  cursor: pointer;
  filter: invert(27%) sepia(3%) saturate(26%) hue-rotate(345deg) brightness(97%)
    contrast(81%);
}

.item-count {
  position: absolute;
  bottom: 25px;
  right: 5px;
  color: orangered;
}
