.menu-item {
  min-width: 30%;
  height: 240px;
  flex-grow: 1;
  margin: 15px 7.5px;
  margin-top: 0;
  overflow: hidden;
  border-radius: 7px;
}
.menu-item.large {
  height: 380px;
}
.menu-bg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  overflow: hidden;

  transition: all 2s;
}
.menu-bg:hover {
  transform: scale(1.03);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 25px;
  background-color: white;
  opacity: 0.8;
  border-radius: 15px;
  text-transform: uppercase;
}
.content:hover {
  cursor: pointer;
  opacity: 0.94;
}
.content h1 {
  margin: 0px;
  font-size: 1.3rem;
}
